<template>
  <select @change="selectBg" :value="value">
    <option value=""></option>
    <option v-for="bg in bgStyles" :value="bg">{{ bg }}</option>
  </select>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: ['value'],
  data () {
    return {
      //
    }
  },
  computed: {
    ...mapGetters({
      bgStyles: 'editor/bgStyles',
    })
  },
  methods: {
    selectBg (event) {
      this.$emit('input', event.target.value)
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
