<template>
  <select @change="selectBlock" name="" id="">
    <option value=""></option>
    <option v-for="(b, key) in blocks" :value="key">{{ key }}</option>
  </select>
</template>

<script>
import { mapState } from 'vuex'

export default {
  props: [],
  data () {
    return {
      //
    }
  },
  computed: {
    ...mapState({
      blocks: state => state.editor.blocks,
    })
  },
  mounted () {
    console.log('this.blocks', this.blocks)
  },
  methods: {
    selectBlock (event) {
      this.$store.commit('editor/ADD_ACTIVE_BLOCK', {[event.target.value]: {}})
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
