<template>
  <select @change="selectHeight" :value="value">
    <option value=""></option>
    <option v-for="height in heightStyles" :value="height">{{ height }}</option>
  </select>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: ['value'],
  data () {
    return {
      //
    }
  },
  computed: {
    ...mapGetters({
      heightStyles: 'editor/heightStyles',
    })
  },
  methods: {
    selectHeight (event) {
      this.$emit('input', event.target.value)
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
