<template>
  <select @change="selectTemplate" name="" id="">
    <option value=""></option>
    <option v-for="(t, key) in templates" :value="key">{{ key }}</option>
  </select>
</template>

<script>
import { mapState } from 'vuex'

export default {
  props: [],
  data () {
    return {
      //
    }
  },
  computed: {
    ...mapState({
      templates: state => state.editor.templates,
    })
  },
  methods: {
    selectTemplate (event) {
      this.$store.commit('editor/SET_ACTIVE_TEMPLATE', event.target.value)
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
