<template>
  <nav class="fixed top-0 left-0 w-full">
    <ul class="flex font-bold justify-center">
      <li class="m-2">
        <nuxt-link to="/">Main</nuxt-link>
      </li>
      <li class="m-2">
        <nuxt-link to="/editor">Editor</nuxt-link>
      </li>
      <li class="m-2">
        <nuxt-link to="/preview">Preview</nuxt-link>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  props: [],
  data () {
    return {
      //
    }
  },
  methods: {
    //
  }
}
</script>

<style lang="scss" scoped>

</style>
