<template>
  <div>
    <pre v-if="show" class="bg-grey-lighter">{{ activeTemplateData }}</pre>
    <button
      @click="show = !show"
      class="fixed bottom-0 left-0 m-4 bg-grey-lighter px-4 py-2"
    >
      {{ show ? 'hide': 'show' }} params
    </button>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  props: [],
  data () {
    return {
      show: false
    }
  },
  computed: {
    ...mapState({
      activeTemplateData: state => state.editor.activeTemplateData
    })
  },
  methods: {
    //
  }
}
</script>

<style scoped>
pre {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
</style>
