<template>
  <component :is="activeTemplate" :name="activeTemplate" />
</template>

<script>
import { mapState } from 'vuex'

export default {
  data () {
    return {
      //
    }
  },
  computed: {
    ...mapState({
      activeTemplate: state => state.editor.activeTemplate
    })
  },
  methods: {
    //
  }
}
</script>

<style lang="scss" scoped>

</style>
