<template>
  <div class="fixed top-0 left-0 bg-grey inline-block z-10 p-4">
    <div class="mb-4">
      <h2>Select Template:</h2>
      <template-selector />
    </div>
    <div v-if="activeTemplate">
      <div class="mb-4">
        <h2>Wrapper settings</h2>
        <bg-selector v-model="wrapperTemplateData.bg" />
        <height-selector v-model="wrapperTemplateData.height" />
      </div>
      <div  class="mb-4">
        <h2>Blocks Settings:</h2>
        <div v-for="(block, name) in activeTemplateData.blocks">
          <h2>{{ name }}</h2>
          <bg-selector v-if="blocksTemplateData[name]" v-model="blocksTemplateData[name].styles.bg" />
        </div>
      </div>
      <div class="mb-4">
        <h2>Add Blocks:</h2>
        <block-selector />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import BgSelector from '@/components/Selectors/BgSelector'
import HeightSelector from '@/components/Selectors/HeightSelector'
import TemplateSelector from '@/components/Selectors/TemplateSelector'
import BlockSelector from '@/components/Selectors/BlockSelector'
import deepmerge from 'deepmerge'

export default {
  components: {
    BgSelector,
    HeightSelector,
    TemplateSelector,
    BlockSelector,
  },
  data () {
    return {
      wrapperTemplateData: {
        bg: null,
        height: null
      },
      blocksTemplateData: {}
    }
  },
  computed: {
    ...mapState({
      activeTemplate: state => state.editor.activeTemplate,
      activeTemplateData: state => state.editor.activeTemplateData,
    }),
  },
  watch: {
    wrapperTemplateData: {
      deep: true,
      handler: function () {
        const filtered = Object.keys(this.wrapperTemplateData).reduce((r, e) => {
          this.wrapperTemplateData[e] ? r[e] = this.wrapperTemplateData[e] : null
          return r
        }, {})
        this.$store.commit('editor/SET_CUSTOM_WRAPPER_STYLES', filtered)
      }
    },
    // blocksTemplateData: {
    //   deep: true,
    //   handler: function () {
    //     console.log('nsjnjnjnjn', this.blocksTemplateData)
    //     this.$store.commit('editor/SET_CUSTOM_BLOCK_STYLES', this.blocksTemplateData)
    //   }
    // },
    activeTemplateData: {
      deep: true,
      handler: function (o, n) {
        this.wrapperTemplateData.bg = this.activeTemplateData.wrapper.styles.bg
        this.wrapperTemplateData.height = this.activeTemplateData.wrapper.styles.height
        // const merged = deepmerge(this.blocksTemplateData, this.activeTemplateData.blocks)
        // this.blocksTemplateData = {...this.blocksTemplateData, ...merged}
      }
    }
  },
  methods: {
    //
  }
}
</script>

<style scoped>

</style>
