<template>
  <div>
    <app-navigation />
    <nuxt />
  </div>
</template>

<script>
import AppNavigation from '@/components/AppNavigation'

export default {
  components: {
    AppNavigation,
  }
}
</script>

<style>

</style>
