<template>
  <section>
    <template-control />
    <template-editor />
    <preview-params/>
  </section>
</template>

<script>
// import { mapState } from 'vuex'
import TemplateControl from '@/components/TemplateControl'
import TemplateEditor from '@/components/TemplateEditor'
import PreviewParams from '@/components/PreviewParams'
import defaultConfig from 'tailwindcss/defaultConfig'

export default {
  components: {
    TemplateControl,
    TemplateEditor,
    PreviewParams,
  },
  props: [],
  data () {
    return {
      //
    }
  },
  computed: {
    //
  },
  mounted () {
    //
  },
  beforeDestroy () {
    this.$store.commit('editor/SET_ACTIVE_TEMPLATE', '')
  },
  methods: {
    //
  }
}
</script>

<style lang="scss" scoped>

</style>
