<template>
  <h1>preview</h1>
</template>

<script>
export default {
  props: [],
  data () {
    return {
      //
    }
  },
  methods: {
    //
  }
}
</script>

<style lang="scss" scoped>

</style>
