<template>
  <wrapper class="flex flex-col items-center justify-center" :params="defaultParams.templateData.wrapper">
    <component
      v-for="(t, key) in defaultParams.templateData.blocks"
      :key="key"
      :is="key"
      :styles="t.styles"
      :content="t.content"
    />
  </wrapper>

</template>

<script>
import { mapState } from 'vuex'

export default {
  props: ['name'],
  data () {
    return {
      //
    }
  },
  computed: {
    ...mapState({
      templates: state => state.editor.templates
    }),
    defaultParams () {
      return this.templates[this.name]
    }
  },
  mounted () {
    // console.log(this.defaultParams)
  },
  methods: {
    //
  }
}
</script>

<style lang="scss" scoped>

</style>
