<template>
  <h1 class="h-screen flex flex-col items-center justify-center text-5xl">Just an empty template</h1>
</template>

<script>
export default {
  props: [],
  data () {
    return {
      //
    }
  },
  methods: {
    //
  }
}
</script>

<style lang="scss" scoped>

</style>
