<template>
  <h1 contenteditable :class="[Object.values(styles)]">{{ content }}</h1>
</template>

<script>
export default {
  props: ['styles', 'content'],
  name: 'heading',
  data () {
    return {
      //
    }
  },
  methods: {
    //
  },
  mounted () {
    const styles = {
      [this.$options.name]: {
        styles: this.styles
      }
    }
    this.$store.commit('editor/SET_CUSTOM_BLOCK_STYLES', styles)
  },
}
</script>

<style lang="scss" scoped>

</style>
