<template>
  <div>
    <p contenteditable>{{ content }}</p>
    <aside v-if="isEditor">

    </aside>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  props: ['content'],
  data () {
    return {
      //
    }
  },
  computed: {
    ...mapState({
      isEditor: state => state.editor.isEditor
    })
  },
  methods: {
    //
  }
}
</script>

<style lang="scss" scoped>

</style>
