<template>
  <div class="hello" :class="[bg]">
    <h1>{{ content }}</h1>
    <p>
      {{ bg }}
    </p>
  </div>
</template>

<script>
export default {
  name: 'TheHeader',
  props: {
    content: String,
    bg: String
  }
}
</script>

<style scoped>

</style>
