<template>
  <div :class="[Object.values(styles)]">
    <slot />
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  props: ['params'],
  data () {
    return {
      ...this.params,
    }
  },
  computed: {
    ...mapState({
      activeTemplateData: state => state.editor.activeTemplateData
    })
  },
  watch: {
    // 'activeTemplateData.wrapper' () {
    //   console.log('jwdwjdjwodno')
    // }
    'activeTemplateData': {
      deep: true,
      handler: function () {
        this.styles = {...this.styles, ...this.activeTemplateData.wrapper.styles}
      }
    }
  },
  mounted () {
    this.$store.commit('editor/SET_CUSTOM_WRAPPER_STYLES', this.styles)
  },
  methods: {
    //
  }
}
</script>

<style lang="scss" scoped>

</style>
